



$color_1: black;
$color_2: inherit;
$color_3: var(--blanco);
$color_4: var(--negro);
$font-family_1: inherit;
$font-family_2: var(--tipo-principal);
$background-color_1: var(--negro);
$background-color_2: transparent;

/* .router-link-exact-active {
} */
/* Las adaptamos al modo oscuro */
/* Opcional */
/* Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* Opcional */
/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
/* Reseteamos los margin y paddings de todas las etiquetas */
/* Evitamos problemas con las imagenes */
/* Reseteamos los enlaces para funcionar como cajas... */
/* ... excepto los que se encuentran en párrafos */
/* Quitamos los puntos de los <li> */
/* Configuramos anclas suaves */
/* Desactivamos estilos por defecto de las principales etiquetas de texto */
/* Evitamos problemas con los pseudoelementos de quotes */
/* Configuramos el texto que seleccionamos */
/* Nivelamos problemas de tipografías y colocación de formularios */
/* Reseteamos las tablas */
/* Evitamos problemas con los SVG */
/* (Probándolo, no usar en producción) En el caso de añadir una  */
/* p svg{
    display: inline;
    width: initial;
  } */
/* Configuramos la tipografía para toda la web */
.router-link-active {
	color: $color_1;
}
&:root {
	--negro: hsl(0, 0%, 8%);
	--blanco: hsl(0, 0%, 98%);
	--gris: hsl(0, 0%, 41%);
	--tipo-principal: "Epilogue", sans-serif;
	--tipo-secundaria: Verdana;
}
* {
	margin: 0;
	padding: 0;
	border: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: baseline;
}
img {
	max-width: 100%;
	width: 100%;
	display: block;
	-o-object-position: center center;
	object-position: center center;
}
picture {
	max-width: 100%;
	width: 100%;
	display: block;
	-o-object-position: center center;
	object-position: center center;
}
video {
	max-width: 100%;
	width: 100%;
	display: block;
	-o-object-position: center center;
	object-position: center center;
}
iframe {
	max-width: 100%;
	width: 100%;
	display: block;
	-o-object-position: center center;
	object-position: center center;
}
figure {
	max-width: 100%;
	width: 100%;
	display: block;
	-o-object-position: center center;
	object-position: center center;
}
a {
	display: block;
	text-decoration: none;
	color: $color_2;
	font-size: inherit;
	font-size: 1em;
	font-weight: inherit;
	font-style: inherit;
	text-decoration: none;
	color: $color_2;
}
p {
	a {
		display: inline;
	}
	font-size: 1em;
	font-weight: inherit;
	font-style: inherit;
	text-decoration: none;
	color: $color_2;
}
li {
	list-style-type: none;
}
html {
	scroll-behavior: smooth;
}
h1 {
	font-size: 1em;
	font-weight: inherit;
	font-style: inherit;
	text-decoration: none;
	color: $color_2;
}
h2 {
	font-size: 1em;
	font-weight: inherit;
	font-style: inherit;
	text-decoration: none;
	color: $color_2;
}
h3 {
	font-size: 1em;
	font-weight: inherit;
	font-style: inherit;
	text-decoration: none;
	color: $color_2;
}
h4 {
	font-size: 1em;
	font-weight: inherit;
	font-style: inherit;
	text-decoration: none;
	color: $color_2;
}
h5 {
	font-size: 1em;
	font-weight: inherit;
	font-style: inherit;
	text-decoration: none;
	color: $color_2;
}
h6 {
	font-size: 1em;
	font-weight: inherit;
	font-style: inherit;
	text-decoration: none;
	color: $color_2;
}
span {
	font-size: 1em;
	font-weight: inherit;
	font-style: inherit;
	text-decoration: none;
	color: $color_2;
}
strong {
	font-size: 1em;
	font-weight: inherit;
	font-style: inherit;
	text-decoration: none;
	color: $color_2;
}
blockquote {
	font-size: 1em;
	font-weight: inherit;
	font-style: inherit;
	text-decoration: none;
	color: $color_2;
	&:before {
		content: "";
		content: none;
	}
	&:after {
		content: "";
		content: none;
	}
}
i {
	font-size: 1em;
	font-weight: inherit;
	font-style: inherit;
	text-decoration: none;
	color: $color_2;
}
b {
	font-size: 1em;
	font-weight: inherit;
	font-style: inherit;
	text-decoration: none;
	color: $color_2;
}
u {
	font-size: 1em;
	font-weight: inherit;
	font-style: inherit;
	text-decoration: none;
	color: $color_2;
}
em {
	font-size: 1em;
	font-weight: inherit;
	font-style: inherit;
	text-decoration: none;
	color: $color_2;
}
q {
	&:before {
		content: "";
		content: none;
	}
	&:after {
		content: "";
		content: none;
	}
}
&::-moz-selection {
	background-color: $background-color_1;
	color: $color_3;
}
&::selection {
	background-color: $background-color_1;
	color: $color_3;
}
form {
	font-family: $font-family_1;
	font-size: inherit;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	background-color: $background-color_2;
	color: $color_2;
	display: block;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
input {
	font-family: $font-family_1;
	font-size: inherit;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	background-color: $background-color_2;
	color: $color_2;
	display: block;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
textarea {
	font-family: $font-family_1;
	font-size: inherit;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	background-color: $background-color_2;
	color: $color_2;
	display: block;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
select {
	font-family: $font-family_1;
	font-size: inherit;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	background-color: $background-color_2;
	color: $color_2;
	display: block;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
button {
	font-family: $font-family_1;
	font-size: inherit;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	background-color: $background-color_2;
	color: $color_2;
	display: block;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
label {
	font-family: $font-family_1;
	font-size: inherit;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	background-color: $background-color_2;
	color: $color_2;
	display: block;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
tr {
	border-collapse: collapse;
	border-spacing: 0;
}
td {
	border-collapse: collapse;
	border-spacing: 0;
}
svg {
	width: 100%;
	display: block;
	fill: currentColor;
}
body {
	min-height: 100vh;
	font-size: 18px;
	font-family: $font-family_2;
	color: $color_4;
	font-smooth: always;
}
@media (prefers-color-scheme: dark) {
	&:root {
		--negro: #ececec;
	}
}
@media (prefers-reduced-motion: reduce) {
	* {
		-webkit-animation: none !important;
		animation: none !important;
		-webkit-transition: none !important;
		transition: none !important;
	}
}
